In [2]:
import pandas as pd
sub_lgbm_ho = pd.read_csv('hold-outOptuna3_.csv',header=None, names=['id','charges'])
sub_pycaret = pd.read_csv('Pycaret.csv',header=None, names=['id','charges'])
sub_rf = pd.read_csv('randomforest3.csv',header=None, names=['id','charges'])

In [6]:
df = pd.DataFrame({'sub_lgbm_ho':sub_lgbm_ho['charges'].values,
                  'sub_pycaret':sub_pycaret['charges'].values,
                  'sub_rf':sub_rf['charges'].values})
df.head()

   sub_lgbm_ho  sub_pycaret  sub_rf
0            0            0       0
1            2            2       2
2            0            0       0
3            0            0       0
4            0            0       0

In [7]:
df.corr()

             sub_lgbm_ho  sub_pycaret    sub_rf
sub_lgbm_ho     1.000000     0.940111  0.951853
sub_pycaret     0.940111     1.000000  0.933494
sub_rf          0.951853     0.933494  1.000000

In [8]:
sample_submit = pd.read_csv("sample_submit.csv",header=None, names=['id','charges'])

In [10]:
sample_submit['charges'] = ((sub_lgbm_ho['charges'] + sub_pycaret['charges'] + sub_rf['charges'])/3.0).round(0).astype(int)
sample_submit.head(10)

   id  charges
0  13        0
1  23        2
2  27        0
3  28        0
4  29        0
5  32        0
6  36        0
7  37        0
8  40        0
9  46        0

In [11]:
pd.DataFrame(sample_submit).to_csv('ensemble2.csv', index=False, header=False)