In [1]:
import pandas as pd
train = pd.read_csv("train.csv",index_col=0)
test = pd.read_csv("test.csv",index_col=0)
sample_submit = pd.read_csv("sample_submit.csv",index_col=0,header=None)

In [2]:
from pycaret.classification import *
s = setup(train,target='charges')

In [3]:
compare_models()

Processing:   0%|          | 0/61 [00:00<?, ?it/s]

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=1000,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=252, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [4]:
lr = create_model('lr')
rf = create_model('rf')
gbc = create_model('gbc')

tuned_lr = tune_model(lr)
tuned_rf = tune_model(rf)
tuned_gbc = tune_model(gbc)

Processing:   0%|          | 0/4 [00:00<?, ?it/s]

Processing:   0%|          | 0/4 [00:00<?, ?it/s]

Processing:   0%|          | 0/4 [00:00<?, ?it/s]

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 10 candidates, totalling 100 fits

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 10 candidates, totalling 100 fits

In [5]:
blender_specific = blend_models(estimator_list = [tuned_lr,tuned_rf,tuned_gbc], method = 'soft')

Processing:   0%|          | 0/6 [00:00<?, ?it/s]

In [6]:
predictions = predict_model(blender_specific,data=test)

In [7]:
predictions.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 400 entries, 13 to 1995
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   age               400 non-null    int8
 1   sex               400 non-null    category
 2   bmi               400 non-null    float32
 3   children          400 non-null    int8
 4   smoker            400 non-null    category
 5   region            400 non-null    category
 6   prediction_label  400 non-null    int32
 7   prediction_score  400 non-null    float64
dtypes: category(3), float32(1), float64(1), int32(1), int8(2)
memory usage: 27.9 KB

In [8]:
predictions.head()

,age,sex,bmi,children,smoker,region,prediction_label,prediction_score
id,,,,,,,,
13,19,male,24.365177,1,no,northeast,0,0.9746
23,59,male,33.997765,0,yes,northeast,2,0.6452
27,42,female,29.283449,0,no,southwest,0,0.9158
28,30,male,24.903725,1,no,northwest,0,0.9614
29,41,female,29.644537,0,no,southwest,0,0.9255

In [9]:
sample_submit = pd.read_csv("sample_submit.csv",header=None, names=['id','charges'])

In [10]:
sample_submit = pd.merge(sample_submit,predictions['prediction_label'],on='id')

In [11]:
sample_submit = sample_submit.drop('charges',axis=1)

In [12]:
pd.DataFrame(sample_submit).to_csv('Pycaret_ensemble.csv', index=False, header=False)